body{
	background-color: #1A1616;	
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	color: #FFF;
}

header hgroup h1{
	font-size: 60px;
	color: #0080FF;
	margin: 0 auto;
}

#Error{
	color: red;
	text-align: center;
}

#Contenido{
	text-align: center;
}

#Menu{
	margin: 0 auto;
	background-color: #0080FF;
	border-radius: 7px;
	width: 840px;
	height: 70px;
}

nav ul li{
	display: inline-block;
	margin-top: 7px;
	margin-right: 1px;
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	color: #1d1d1d;
	border: 20px;
	padding: 8px;
	font-weight: bold;
}

nav ul li:hover{
	background-color: #A69F9F;
	border-radius: 7px;
	font-weight: bold;
}

nav ul li a{
	text-decoration: none;
}

img{
	border-radius: 7px;
}

input{
	color: white;
	font-weight: bold;
	border: none;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 7px;
	height: 40px;
	background-color: #434141;
}

input:focus{
	outline-color: rgba(0,0,0,0);
	background: rgba(255,255,255,.95);
	color: #0080FF;
}

#btnSubmit{
	cursor: pointer;
	color: #B2AEAE;
}