body
{
	background-color: #E0BFCF;
	font-family: 'Delius Unicase', cursive;
}

header h1
{
	font-family: 'Tangerine', serif;
	font-size: 60px;
	color: #0080FF;
}

#Contenido
{
	width: 960px;
	margin: 0 auto;
	margin-top: 250px;
	text-align: center;
}

#btnSubmit
{
	border-radius: 10px;
	background-color: #E0BFCF;
	color: black;
	display: block;
	margin-top: 10px;
	margin-left: 450px;
	font-family: 'Delius Unicase', cursive;
}