legend
{
    color: #00008B;
	font-size: xx-large;
}

body{
	width: 600px;
	margin: auto;
	background-color: #E2ECEE;
}


form {
	background-image: url("Medicamentos.jpg");
}


label{
	display: block;
	font-weight: bolder;
	font-size: x-large;
}


#btnsubmit{
	font-family: fantasy;
	background: #cfe6ef;
	background: -moz-linear-gradient(top,#cfe6ef 0%,#edfcff 100% );
	background: -webkit-linear-gradient(top,#cfe6ef 0%,#edfcff 100% );
}