body{
	background-color: #1A1616;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 20px;
	color: #FFF;
}

header hgroup h1{
	font-size: 80px;
	color: #0080FF;
	margin: 0 auto;
	font-family: 'Ranga', cursive;
}

header hgroup h1 a{
	text-decoration: none;
	color: #0080FF;
}

#Contenido{
	text-align: center;
}

#Menu{
	margin: 0 auto;
	background-color: #0080FF;
	border-radius: 7px;
	width: 850px;
	height: 70px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-top: 7px;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 5px;
	background-color: white;
	padding: 8px;
	font-weight: bold;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linea
}

nav ul li:hover{
	background-color: #c6c2c2;
}

nav ul li a{
	text-decoration: none;
}

nav ol{
	list-style-type: none;
}

nav ol li{
	margin: 0 auto;
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linea
}

nav ol li:hover{
	font-weight: bold;
	background-color: #1A1616;
}

nav ol li a{
	text-decoration: none;
	color: white;
}

nav ol li a:focus{
	color: red;
	background-color: 
}

img{
	border-radius: 7px;
}

input{
	font-weight: bold;
	border: none;
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 7px;
	height: 40px;
	background-color: #434141;
}

input:focus{
	outline-color: rgba(0,0,0,0);
	background: rgba(255,255,255,.95);
	color: #0080FF;
}

#btnSubmit{
	cursor: pointer;
	color: #B2AEAE;
}

#menuInsertar{
	margin: 0 auto;
	margin-top: 20px;
	background-color: #0080FF; 
	border-radius: 7px;
	width: 850px;
	height: 300px
}

#menuInsertarRecortado{
	margin: 0 auto;
	margin-top: 20px;
	background-color: #0080FF; 
	border-radius: 7px;
	width: 850px;
	height: 80px
}

#opcion{
	margin: 0 auto;
	margin-top: 10px;
	width: 200px;
	height: 250px;
	display: inline-block;
	background-color: #1A1616;
	border-radius: 7px;
}

#opcionRecortada{
	margin: 0 auto;
	margin-top: 10px;
	width: 200px;
	height: 60px;
	display: inline-block;
	border-radius: 7px;
}

select{
	font-weight: bold;
	border: none;
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 7px;
	height: 40px;
	background-color: #434141;
	color: #1c1c1c;
}

select:focus{
	outline-color: rgba(0,0,0,0);
	background: rgba(255,255,255,.95);
	color: #0080FF;
}